.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogsItems {
   padding: 10px;
}

.dialog {
   font-size: 18px;
   padding: 8px 0;
   color: #364545;
}

.dialog a {
   text-decoration: none;
   color: inherit;
}

.dialog a.active {
   font-size: 20px;
}

.messages {
   padding: 10px;
}

.message {
   background-color: #238ba5;
   margin: 10px;
   padding: 10px;
   border-radius: 4px;
}
